/* MEDIA QUERIES */
/* 375px and more */
@media (min-width: 375px) {
  * {
    font-size: 18.75px;
  }
}

/* 425px and more */
@media (min-width: 425px) {
  * {
    font-size: 21.25px;
  }
}

/* 768px and more */
@media (min-width: 768px) {
  * {
    font-size: 16px;
  }

  .header__logo {
    top: 1.75rem;
    left: 1.5rem;
  }

  .header__hamburger-icon,
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: block;

    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      position: absolute;
      top: 1.75rem;
      right: 1.5rem;
    }

    &__link {
      color: var(--$white);
    }
  }

  .grid-section__container {
    grid-template-columns: repeat(2, 1fr);

    &__text {
      font-size: 0.85rem;
    }

    .grid-section__item--text {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 1rem;
    }

    .grid-section__item--image-and-text {
      &__image {
        width: 100%;
        transform: translateX(0);
      }

      .grid-section__text-container {
        padding: 3rem 3rem 0;
      }
    }

    .grid-section__item--first {
      grid-column: 2/3;
    }

    .grid-section__item--second {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

  .testimonials__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .testimonial-card__text {
      font-size: 0.85rem;
      margin: 1.5rem 0;
      line-height: 1.5;
    }
  }

  .gallery__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 1024px and more */
@media (min-width: 1024px) {
  * {
    font-size: 19px;
  }

  .hero__image {
    content: url("../images/desktop/image-header.jpg");
  }
  .grid-section__image--transform {
    content: url("../images/desktop/image-transform.jpg");
  }
  .grid-section__image--stand-out {
    content: url("../images/desktop/image-stand-out.jpg");
  }
  .grid-section__image--graphic-design {
    content: url("../images/desktop/image-graphic-design.jpg");
  }
  .grid-section__image--photography {
    content: url("../images/desktop/image-photography.jpg");
  }
  .gallery__image--milk-bottles {
    content: url("../images/desktop/image-gallery-milkbottles.jpg");
  }
  .gallery__image--orange {
    content: url("../images/desktop/image-gallery-orange.jpg");
  }
  .gallery__image--cone {
    content: url("../images/desktop/image-gallery-cone.jpg");
  }
  .gallery__image--sugar-cubes {
    content: url("../images/desktop/image-gallery-sugarcubes.jpg");
  }

  .grid-section__text-container {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 4rem 0;
  }

  .grid-section__item--text {
    text-align: left;
    padding: 3rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .grid-section__container {
    .grid-section__item--image-and-text {
      .grid-section__text-container {
        padding: 3rem 4rem 0;
      }
    }
  }

  .grid-section__item--image-and-text {
    align-items: center;
    text-align: center;
    justify-content: flex-end;
  }

  .testimonial-card__text {
    margin: 1.5rem 0;
  }

  .gallery__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 1440px and more */
@media (min-width: 1440px) {
  .grid-section__container {
    .grid-section__item--text {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 6.5rem;
    }

    .grid-section__item--image-and-text {
      .grid-section__text-container {
        padding: 3rem 10rem 0;
      }
    }
  }

  .testimonials__container {
    .testimonial-card {
      padding: 3.5rem 4.5rem 0;
    }
  }
}

/* 1500 and more */
@media (min-width: 1500px) {
  .grid-section__container {
    .grid-section__item--image-and-text {
      .grid-section__text-container {
        padding: 3rem 11rem 0;
      }
    }
  }

  .testimonials__container {
    .testimonial-card {
      padding: 3.5rem 5rem 0;
    }
  }
}
